span[data-h5p-type] {
  font-size: 0;
  display: block;
  height: 50px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

span[data-h5p-type=Accordion] {
  background-image: url("../images/icons/h5p/Accordion.svg");
}

span[data-h5p-type="Advent Calendar"] {
  background-image: url("../images/icons/h5p/AdventCalendar.svg");
}

span[data-h5p-type=Agamotto] {
  background-image: url("../images/icons/h5p/Agamotto.svg");
}

span[data-h5p-type="Arithmetic Quiz"] {
  background-image: url("../images/icons/h5p/ArithmeticQuiz.svg");
}

span[data-h5p-type=Audio] {
  background-image: url("../images/icons/h5p/Audio.svg");
}

span[data-h5p-type="Audio Recorder"] {
  background-image: url("../images/icons/h5p/AudioRecorder.svg");
}

span[data-h5p-type="Fill in the Blanks"] {
  background-image: url("../images/icons/h5p/Blanks.svg");
}

span[data-h5p-type="Branching Question"] {
  background-image: url("../images/icons/h5p/BranchingQuestion.svg");
}

span[data-h5p-type="Branching Scenario"] {
  background-image: url("../images/icons/h5p/BranchingScenario.svg");
}

span[data-h5p-type=Chart] {
  background-image: url("../images/icons/h5p/Chart.svg");
}

span[data-h5p-type=Collage] {
  background-image: url("../images/icons/h5p/Collage.svg");
}

span[data-h5p-type=Column] {
  background-image: url("../images/icons/h5p/Column.svg");
}

span[data-h5p-type="Course Presentation"] {
  background-image: url("../images/icons/h5p/CoursePresentation.svg");
}

span[data-h5p-type=Crossword] {
  background-image: url("../images/icons/h5p/Crossword.svg");
}

span[data-h5p-type="Dialog Cards"] {
  background-image: url("../images/icons/h5p/Dialogcards.svg");
}

span[data-h5p-type=Dictation] {
  background-image: url("../images/icons/h5p/Dictation.svg");
}

span[data-h5p-type="Documentation Tool"] {
  background-image: url("../images/icons/h5p/DocumentationTool.svg");
}

span[data-h5p-type="Drag and Drop"] {
  background-image: url("../images/icons/h5p/DragQuestion.svg");
}

span[data-h5p-type="Drag Text"] {
  background-image: url("../images/icons/h5p/DragText.svg");
}

span[data-h5p-type=Essay] {
  background-image: url("../images/icons/h5p/Essay.svg");
}

span[data-h5p-type="Find The Words"] {
  background-image: url("../images/icons/h5p/FindTheWords.svg");
}

span[data-h5p-type=Flashcards] {
  background-image: url("../images/icons/h5p/Flashcards.svg");
}

span[data-h5p-type="Guess The Answer"] {
  background-image: url("../images/icons/h5p/GuessTheAnswer.svg");
}

span[data-h5p-type="iFrame Embed"] {
  background-image: url("../images/icons/h5p/IFrameEmbed.svg");
}

span[data-h5p-type="Image Hotspot Question"] {
  background-image: url("../images/icons/h5p/ImageHotspotQuestion.svg");
}

span[data-h5p-type="Image Hotspots"] {
  background-image: url("../images/icons/h5p/ImageHotspots.svg");
}

span[data-h5p-type="Image Pair"] {
  background-image: url("../images/icons/h5p/ImagePair.svg");
}

span[data-h5p-type="Image Sequencing"] {
  background-image: url("../images/icons/h5p/ImageSequencing.svg");
}

span[data-h5p-type="Image Slider"] {
  background-image: url("../images/icons/h5p/ImageSlider.svg");
}

span[data-h5p-type="Interactive Book"] {
  background-image: url("../images/icons/h5p/InteractiveBook.svg");
}

span[data-h5p-type="Interactive Video"] {
  background-image: url("../images/icons/h5p/InteractiveVideo.svg");
}

span[data-h5p-type="KewAr Code"] {
  background-image: url("../images/icons/h5p/KewArCode.svg");
}

span[data-h5p-type="Mark the Words"] {
  background-image: url("../images/icons/h5p/MarkTheWords.svg");
}

span[data-h5p-type="Memory Game"] {
  background-image: url("../images/icons/h5p/MemoryGame.svg");
}

span[data-h5p-type="Multiple Choice"] {
  background-image: url("../images/icons/h5p/MultiChoice.svg");
}

span[data-h5p-type=Questionnaire] {
  background-image: url("../images/icons/h5p/Questionnaire.svg");
}

span[data-h5p-type="Question Set"] {
  background-image: url("../images/icons/h5p/QuestionSet.svg");
}

span[data-h5p-type="Single Choice Set"] {
  background-image: url("../images/icons/h5p/QuestionSet.svg");
}

span[data-h5p-type="Speak The Words"] {
  background-image: url("../images/icons/h5p/SpeakTheWords.svg");
}

span[data-h5p-type="Speak The Words Set"] {
  background-image: url("../images/icons/h5p/SpeakTheWordsSet.svg");
}

span[data-h5p-type=Summary] {
  background-image: url("../images/icons/h5p/Summary.svg");
}

span[data-h5p-type="Three Image"] {
  background-image: url("../images/icons/h5p/ThreeImage.svg");
}

span[data-h5p-type=Timeline] {
  background-image: url("../images/icons/h5p/Timeline.svg");
}

span[data-h5p-type="True/False Question"] {
  background-image: url("../images/icons/h5p/TrueFalse.svg");
}

span[data-h5p-type="Twitter User Feed"] {
  background-image: url("../images/icons/h5p/TwitterUserFeed.svg");
}

/*# sourceMappingURL=h5plibrary.css.map */
